
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;900&family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;900&family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    position: absolute;
    background-color:grey;
    /* width: 434px; */
    /* height: 100vh; */
    font-family: 'Fira sans', sans-serif;
   transition: transform 0.3s ease-in;
    
   


}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    /* background-color: yellow; */
    width: 90vw;
}
.container{
    display: flex;
}
.infocontainer{
    /* background-color: rgb(202, 9, 128); */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devPic img{
   height: 58vh;
  

}
.devInfo{

    display: flex;
    justify-content: center;
    flex-direction: column;

}
.hello{
    font-size: 3em;
    font-family: 'source code pro', monospace;

}
.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira sans', sans-serif;

}
.about{
    font-size: 2.5em;

}
.buttons{
    margin-top: 2.2em;
    font-size: 16px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 2em;
    margin: 3px 3px;
    cursor: pointer;

}
.btn-sm{
    font-size: 10px;
    padding: 17px 13px;
    margin: 10px 0;
}
.btn-sm:hover{
    transition: ease-in-out;
    color: blue;
    transition-duration: 2ms;
    cursor: pointer;
    background-color:white;
}
.buttons button:hover{
    color: dodgerblue;
    background-color: white;

}
.Moreabout{
    font-size: 2em;
    margin-top: 23px;
    font-family: 'Fira sans', sans-serif;
    font-weight: bold;
    font-style: italic;
}
.contactform{
    
    
    font-family: 'Fira sans', sans-serif;
    padding: 0 34px;
    /* padding-top: 10px; */
    margin: 88px;

    

}
.contactform h1{
    /* padding: 12px 0; */
    text-align: center;
    font-family: 'source code pro', monospace;


}
.contactform form div{
    padding: 18px 0;
    /* display: flex; */
    flex-direction: column;
}
.contactform form div input{
    /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;

}
.contactform form{
   margin: 0 40px;

}
#emailHelp{
    font: size 18px;
    color: midnightblue;
    margin:0 5px;
}
.form-check {
 
    flex-direction: row;

}
#form-check input{
    width: 28px;
    margin: 3px 0;

}
.blogItems {
    margin: 20px;
    font-family: 'Fira sans', sans-serif;
    
}
.blogcontainer{
    margin:  88px;
}
 h1{ 
     font-family: 'Fira sans', sans-serif;
     margin: 21px;

}
p{
    font-family: 'source code pro', monospace;

}
.intro{
    margin: 88px;
}
.intro h2{
    margin: 12px;


}
.intro p{
    margin: 12px;
    
}
.skillcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
    font-family: 'source code pro', monospace;
    font-weight: 900;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
    
}
.hundred{
    width: 265px;
    background-color: blueviolet;

}
.fifty{
    width: 1255px;
    background-color: aqua;

}
.t5{
    width: 75px;
    background-color: yellow;

}
.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
    
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.ham{
    margin-top: 10px;
    margin: left 10px; ;
}
.cross{
    margin-left: 175px;
    margin-top:10px;

}
@media(max-width: 1000px)
{
    *{
/* background-color: rgb(155, 99, 99); */
}
.buttons{
    font-size: 6px;
}
.devInfo{
    font-size: 10px;
}
.devPic{
    display: none;
}
/* .sidebar{
    transform: translate(-443px, 0px);
    position: absolute;
} */
.intro, .blogcontainer, .contactform{
    margin: 50px 8px;
}
}